{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <br/>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Last_Name:</b> {{ grade.Last_Name }}</li>
        <li class="list-group-item"><b>First_Name:</b> {{ grade.First_Name }}</li>
        <li class="list-group-item"><b>SSN:</b> {{ grade.SSN }}</li>
        <li class="list-group-item"><b>Test1:</b> {{ grade.Test1 }}</li>
        <li class="list-group-item"><b>Test2:</b> {{ grade.Test2 }}</li>
        <li class="list-group-item"><b>Test3:</b> {{ grade.Test3 }}</li>
        <li class="list-group-item"><b>Test4:</b> {{ grade.Test4 }}</li>
        <li class="list-group-item"><b>Final:</b> {{ grade.Final }}</li>
        <li class="list-group-item"><b>Grade:</b> {{ grade.Grade }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{grade.id}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>
<br/>
<form action="/delete/{{grade.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}